/* You can add global styles to this file, and also import other style files */
body, html {
  margin: 0;
  padding: 0;
  font-family: arial, ui-serif;
}

.block {
  min-height: 100vh;
  background: radial-gradient(66.06% 153.21% at 66.06% 37.72%, rgba(183, 183, 183, 0.3) 0%, rgba(203, 203, 203, 0.2) 0.01%, #969696 71.99%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: 85%;
}

.left-menu-container {
  width: 80px;
  height: 100%;
  position: fixed;
  left: 0;
  border-right: 1px solid #747474;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.logo {
  width: 50px;
}

.logo img {
  width: 100%;
  height: auto;
}

.rotate {
  /* FF3.5+ */
  -moz-transform: rotate(-90.0deg);
  /* Opera 10.5 */
  -o-transform: rotate(-90.0deg);
  /* Saf3.1+, Chrome */
  -webkit-transform: rotate(-90.0deg);
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
  /* Standard */
  transform: rotate(-90.0deg);
}

.left-menu-button {
  width: 150px;
  height: 30px;
  position: fixed;
  bottom: 100px;
  left: -35px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-menu-button .title {
  font-size: 12px;
  color: #262626;
}
